{% extends "layout.html"%}

{% block heading %} 
    Registration page
{% endblock %}

{% block body %}
    <h1>Creating Registration page</h1>
    <div class="row">
    <form action="{{url_for('form')}}" method="post">
        <label for="Name"><b>Name</b></label>
        <input type="text" placeholder="enter name"  Name="Name" required><br><br>
        <label for="password"><b>password</b></label>
        <input type="password" placeholder="enter password" name="password" required><br><br>
        <label for="email"><b>email</b></label>
        <input type="text" placeholder="enter email"  name="email" required><br><br>
        <div class="col-sm">
            <label for="gender"><b>gender</b></label><br>
            <label for="female"><b>female</b></label>
                <input id="female" type="radio"name="gender" value="female"><br>
            <label for="male"><b>male</b></label>
                <input id="male" type="radio"name="gender" value="male"><br>
            <label for="others"><b>others</b></label>
                <input id="others" type="radio"name="gender" value="others"><br>
        </div><br>
        <input type="number" placeholder="enter age" name="age" required><br><br>
        <label for="birthday"><b>birthday</b></label>
            <input type="date" id="birthday" name="birthday" required><br>
        <button class="button" type="submit"><br>submit</button><br><br>
        <button type="submit" class="button" formaction='/auth'>LOGIN</button>
    </form>
    {% if variable1 %}
        <div class ="row" style="text-align: center;">
        <div class="alert-alert-success.alert-dismissibe">
        {{variable1}}
        </div>
        </div>
        {% endif %}
        {% if variable %}
        <div class ="row" style="text-align: center;">
        <div class="alert-alert-danger.alert-dismissibe">
        {{variable}}
        </div>
        </div>
        {% endif %}
    </div>
    </div>
{% endblock %}