<!DOCTYPE html>
<html>
    <head>
        <title>Registration page</title>
    </head>
    <script type="text/javascript">
        function password(str)
        {
        var password = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$/;
        return password.test(str);
        }
        function email(email) 
        {
        if (/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/.test(email))
          {
            return true;
          }
            return false;
        }
        function checkForm(form)
        {
            if(form.Name.value == "") {
                document.getElementById("text").innerHTML="Enter Username";
            return false;
            }
            if(form.email.value == "") {
                document.getElementById("text").innerHTML="Enter valid mail";
            return false;
            }
            else if(!email(form.email.value)) {
              document.getElementById("text").innerHTML="Enter valid mail address";
              return false;
            } else {
              if(form.password.value != "") {
                        if(!password(form.password.value)) {
                            document.getElementById("text").innerHTML="password should have capital letters,small letters,numbers,special charecters";
                        return false;
                        }
            }
            else {
                document.getElementById("text").innerHTML="enter password";
                return false;
                 }
            }
            return true;
        }
       </script>
    <body>
    <center>
    <div class="form">
    <form action="{{url_for('form')}}" method="post" onsubmit="return checkForm(this);">
        <label style="text-align:center" for="Name"><b>Name</b></label>
        <input type="text" placeholder="enter name"  Name="Name" required><br><br>
        <label for="password"><b>password</b></label>
        <input type="password" placeholder="enter password" name="password" required><br><br>
        <label for="email"><b>email</b></label>
        <input type="text" placeholder="enter email"  name="email" required><br><br>
        <div class="col-sm">
            <label for="gender"><b>gender</b></label><br>
            <label for="female"><b>female</b></label>
                <input id="female" type="radio"name="gender" value="female"><br>
            <label for="male"><b>male</b></label>
                <input id="male" type="radio"name="gender" value="male"><br>
            <label for="others"><b>others</b></label>
                <input id="others" type="radio"name="gender" value="others"><br>
        </div><br>
        <button class="button" type="submit"><br>submit</button><br><br>
        <button type="submit" class="button" formaction='/auth'>LOGIN</button>
    </form>
    {% if variable1 %}
        <div class ="row" style="text-align: center;">
        <div class="alert-alert-success.alert-dismissibe">
        {{variable1}}
        </div>
        </div>
        {% endif %}
        {% if variable %}
        <div class ="row" style="text-align: center;">
        <div class="alert-alert-danger.alert-dismissibe">
        {{variable}}
        </div>
        </div>
        {% endif %}
    </div>
    </body>
</html>